@import 'units/_colors'
@import 'units/_typography'
@import 'units/_helpers'

@import 'components/_event-item'
@import 'components/_header'
@import 'elements/_user-card'
@import 'elements/_event-list'

.logo 
    font-family: billabong, 'billabongregular'
    color: color-white
    text-align: center
    font-weight: 100
    font-size: 3.5rem
    letter-spacing: -1px
    text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11)

.navbar
    height: 16vh
    background-color: color-green

html 
    font-size: 16px