@import '_colors.styl'
@import '_typography.styl'

.logo 
    font-family billabong, 'billabongregular'
    color white
    text-align center
    font-weight 100
    font-size 6 rem
    letter-spacing -1px
    text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)

.navbar
    height 16vh
    background-color red
